@charset "UTF-8";
/* CSS Document */

h1  {
	font-weight: 700;
	font-size: 5em;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

h2 h3 {
	font-weight: 400;
}

h4 {
	font-weight: 700;
}

p {
	font-size: 1.3em;
	font-family: 'Noto Sans', sans-serif;
}

.jumbotron {
	background-color: #fff
}
