@charset "UTF-8";
/* CSS Document */

body {
	background-color: #fff
}
h1  {
	font-weight: 700;
	font-size: 5em;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

h2 h3 {
	font-weight: 400;
}

h4 {
	font-weight: 700;
}

p li ol {
	font-size: 1.1em;
	font-family: 'Noto Sans', sans-serif;
}

.jumbotron {
	background-color: #fff
}



.caption {
	font-size: .98em;
	font-style: italic;
}
